# Unreal-generated directories
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE-generated directories
.vs/
.idea/
.vscode/

# Generated project files
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.user
*.userprefs

# Temporary files and logs
*.log
*.tmp